@import '../../assets/style/variables';

.select {
  width: 100%;
  background-color: $background;
  height: 25px;
  border: none;
  border-radius: 5px;
  color: $darkest;

  &__placeholder {
    font-weight: $light;
    font-size: 0.9rem;
  }
}
